<!DOCTYPE html>
<html>
<head>
    <title>Gym Name Here</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

</head>
<body>
    <div class="container">
        <h1>Gym Name Here</h1>
        <form action="/create" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Sign Up">
            
            <div class="text-center p-t-12">
                <a class="txt2" href="/">
                    Already have an account?
                </a>
            </div>


        </form>
    </div>
</body>
</html>